<php>
    <env name="APP_ENV" value="testing"/>
    
    <env name="DB_CONNECTION" value="pgsql"/>
    <env name="DB_HOST" value="pg-test"/> <env name="DB_PORT" value="5432"/>
    <env name="DB_DATABASE" value="global_purchase"/>
    <env name="DB_USERNAME" value="postgres"/>
    <env name="DB_PASSWORD" value="postgres"/>

    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    
    <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_STRICT &amp; ~E_NOTICE &amp; ~E_USER_NOTICE"/>
</php>