.git
.gitignore
node_modules
vendor
storage/logs/*.log
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
.env
.env.*
!.env.example
*.md
tests/
phpunit.xml
.phpunit.cache
docker-compose*.yml
Dockerfile
